<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <header class="header">
        비번
        <div class="options">
            <a class="option" href="/school/1">알림장</a>
            <a class="option" href="/article/1">수다</a>
            <a class="option" href="/write">쓰기</a>
            <a class="option" href="/logout">로그아웃</a>
            <a class="option" href="/change">비번변경</a>
        </div>
    </header>
    <div class="container">
        <form action="/change/push" method="POST">
            <input type="text" autocomplete="off" name="password" id="password" placeholder="바꿀 비밀번호">
            <br>
            <button type="submit">변경</button>
        </form>
        <br><br><br>
        <div class="description">
            비밀번호에 @를 포함하면 안됩니다.
            <br>
            비밀번호는 10자 미만입니다.
        </div>
    </div>

</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
    @font-face {
        font-family: 'BMJUA';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    html, body {
        width: 100vw;
        height: 100%;
        margin: 0;
        padding: 0;   
        position: fixed;
        overflow-x: hidden;
        display: flex;
        background-color: #f4f4f8;
        font-family: 'Roboto', sans-serif;
    }

    .header {
        position: fixed;
        margin-bottom: 100px;
        width: 100%;
        height: 60px;
        float: top;
        margin: 0;
        padding: 0;
        background-color: #2ab7ca;
        text-align: left;
        font-family: 'BMJUA';
        font-weight: bold;
        font-size: 35px;
        line-height: 58px;
        box-shadow: 0 0 8px 0 #aaaaaa;
        padding-left: 20px;
        padding-right: 30px;
    }

    .options {
        font-size: 16px;
        font-weight: normal;
        float: right;
        margin-right: 27px;
    }

    .option {
        padding-left: 5px;
        padding-right: 5px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .container {
        margin: auto;
        align-items: center;
        text-align: center;
    }

    form {
        align-items: center;
        text-align: center;
    }

    input, button {
        width: 200px;
        height: 43px;
        border-radius: 6px;

    }

    input {

        border: 2px solid #e6e6ea;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: 0.3s;
        top: 100px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    input:focus {
        border-color: #fed766;
        box-shadow: 0 0 8px 0 #fed766;
    }

    button {
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        background-color: #fed766 ;
        color: #f4f4f8;
        border: none;

    }
</style>
</html>